<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4acdpGjDr07lKvipQNtUTwzqRZPJgli4</string>
	<key>GCM_SENDER_ID</key>
	<string>940996181052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.senslinq</string>
	<key>PROJECT_ID</key>
	<string>senslinq-8c1d1</string>
	<key>STORAGE_BUCKET</key>
	<string>senslinq-8c1d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940996181052:ios:aa6e3b3a7b4537970ed739</string>
</dict>
</plist>